:root {
    --color-body:#F2F2F1 ;
    --color-primario:  #9D6D3C;
    --color-secundario: #68675C;
    --color-terciario: #929183;
    --color-cuaternario: #857B70; 
    --color-quinto: #f8bc28 ; 
    --color-black: #161616;      
  }

body{
  background-color: var(--color-body);
}
*{
font-family: 'Mada', sans-serif;;
margin: 0;
padding: 0;
}

/* navbar */

.nav {
    min-width: 100%;
    background-color: var(--color-body);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 61px;
  }
.ul-nav{
  display: flex;
  flex-direction: row;
  list-style: none;
  cursor: pointer;
}
.li{
  color: inherit;
  text-decoration: inherit;
}
  
.logo{
    width: 300px;
    height: 100px;
    margin-left: -5px;
}
.toggle {
    display: none; 
  } 
.navbar-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }  
.navbar-links-container .link-nav{
    margin-right:2rem;
    text-decoration: none;
    color:var(--color-secundario);
    font-size: 17px;
    font-weight: 350;

  }
.navbar-links-container .link-nav:hover{
    color: var(--color-quinto);
  }


/* Hero */

.container-img {
    display: flex;
    align-items: center;
    width: 86%;
    min-height: 700px;
    background-image: url(./Assets/mitchel-lensink-2mhIdAKEAPY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-right: 7%;
    margin-left: 7%;      
}
.text-home{
  color: var(--color-body);
  font-size: 37px;
  margin: 0%;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 30px;
}
.separador{
  width: 100%;
  height: 4000px;
}
.cont-hero-two{
display: grid;
grid-template-columns: 1fr 1fr;
}
.cont-img-two{
  width: 100%;
  min-height: 750px;
  background-image: url(./Assets/325774404_721434212817141_2232866153152883640_n.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  margin-top: 70px; 
  margin-left: 14%;
  grid-column: 1 / 2;
}
.cont-text-two{
  grid-column: 2 / 3;
  margin-top: 200px; 
  margin-left: 50px;
  margin-right: 70px;
}
.cont-text-two .parrafo{
  font-size: 17px;
  margin-top: 20px;
  color: #68675C;
  margin-right: 75px;

}
.cont-text-two h1{
  color: var(--color-black);
}
.cont-text-two .txt-home-two{
  font-size: 23px;
}

/* buttons */
/* buttons-hero */
.btn-hero{
  background-color: var(--color-quinto); 
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 80px;
  margin-left: 80px; 
}
.btn-hero-two{
  background-color: var(--color-black); 
  border: none;
  width: 150px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: var(--color-body);
  margin-top: 70px;
  cursor: pointer;
 
}

/* acerca de */
.cont-img-acerca{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 700px;
  background-image: url(./Assets/laura-cleffmann-z3drmcczVTc-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;   
  margin-bottom: 80px;   
}

.container-acerca{
  margin-top: 150px;
}

.cont-txt-acerca{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
}

.parrafo-acerca{
  padding: 40px 200px 70px 200px;
  font-size: 18px;
  text-align: center;
  font-weight: 350;
  color: var(--color-secundario);
}

.caja2,.caja4,.caja5,.caja7{
  background-color: #d8d8d7 ;
}

.caja1{
  background-image: url(./Assets/james-kovin-YQGPSblLPz0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.caja3{
  background-image: url(./Assets/krakenimages-376KN_ISplE-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -50px;
}

.caja6{
  background-image: url(./Assets/spencer-davis-SVfXlChg9HI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.caja8{
  background-image: url(./Assets/spencer-davis-QTKwYmMumfk-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.h-caja {
  padding: 60px 60px 30px 60px;
}

.p-caja{
  padding: 10px 60px 30px 60px;
  color: var(--color-secundario);
}

.grid-fotos{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr  ;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

/* mediaq */ 
@media (max-width: 1300px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .cont-text-two{
    margin-left: 110px;
  }
}
@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 912px) {
  .cont-text-two{
    margin-top: 80px; 
    min-height: 1000px;
  }
  .cont-img-two{
    height: 500px;
  }
}
@media (max-width: 820px) {
  .nav-logo-container {
    max-width: 130px;
  }
  .navbar-links-container {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.1s ease-out;
    transform: translateX(-100%);
    height: 500px;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
  .navbar-links-container.open{
    transform: translateX(0) !important;
  }

  .navbar-links-container.open .link-nav{
  font-size: 20px;
  }
  .toggle{
    display: flex !important;
    flex-direction: column;
    margin: 15px;
  }
  .ul-nav{
    flex-direction: column;
    gap: 40px;
    padding-top: -20px;
  }

  .toggle span{
    width: 25px;
    height: 2px;
    background: var(--color-primario);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin:5px 0px;
    transition: all 0.2s linear;
  }
  
  .toggle.open > span{
    transform: rotate(45deg) translate(0px, 0px);
    width: 28px;
  }
  .toggle.open > span:nth-child(2){
    display: none;
  }
  .toggle.open > span:nth-child(3){
    transform: rotate(-45deg) translate(-5px, 3px);
    width: 28px;
  }
  .text-home{
    font-size: 30px;
  }
  .container-img {
    width: 85%;
  }
  .cont-img-two{
    margin-top: 50px; 
    min-height: 600px;
  }
  .cont-text-two{
    margin: 0%;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 130px;

  }
  .cont-text-two .parrafo{
    font-size: 17px;
    margin-top: 10px;
    color: #68675C;
    margin-right: 50px;
  
  }
  .cont-text-two .txt-home-two{
    font-size: 17px;
  }
  .btn-hero-two{
    margin-top: 30px;
  }
}
@media (max-width: 650px){
.text-home{
  margin: 0%;
  padding-left: 10px;
  padding-right: 10px;
  }
  .cont-text-two{
    margin: 0%;
    padding-left: 70px;
    padding-right: 20px;
    padding-top: 130px;
  }
}
@media (max-width: 600px){
.btn-hero-two{
  padding: 8px 5px;
  font-size: 13px;
  margin-top: 30px;
}
.cont-text-two{
  padding-top: 80px
}
}
@media (max-width: 550px){
  .btn-hero-two{
    padding: 8px 5px;
    font-size: 13px;
    margin-top: 10px;
  }
  .cont-text-two{
    margin-left: 0px;
    padding-top: 90px;
  }
  .cont-text-two .parrafo{margin-top: 4px;
  
  }}
@media (max-width: 500px){
 
  .text-home{
    padding-top: 130px;
    font-size: 25px;
  }
  .btn-hero{
  margin-top: 30px;
  margin-left: 30px;
  }
  .cont-img-two{
    margin-top: 60px;
    padding-top: 30px;
    width: 100%;
    min-height: 500px;
  }
  .cont-text-two{
    padding-right: 40px;
    padding-top: 120px;
  }
  .cont-text-two h1{
    font-size: 20px;
  }
  .cont-text-two .parrafo{
    font-size: 15px;}
}
@media (max-width: 350px){
  .logo{
    width: 200px;
    height: 70px;
    margin-left: -5px;
}
.text-home {
  padding-top: 0px;
  font-size: 20px;
}
  .cont-img-two{
  display: none; 
}
  .cont-hero-two{
  display: flex;
  align-items: center;
  justify-content: center;
}
  .cont-text-two{
  padding-right: 0px;
  padding-top: 50px;
  padding-left: 20px;
}
.btn-hero{
  margin-top: 10px;
  margin-left: 10px;
  }
  .container-img {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;      
}
@media (max-width: 240px){
  .logo{
    width: 170px;
}
.text-home {
  font-size: 18px;
}}}


  








